.container{
  padding: 0 1rem;
  margin: 0 auto;
}

@media (min-width:1400px) {
  .container{
    max-width: 1200px;
  }
}
.spinner-dot-pulse:after, .spinner-dot-pulse:before{
  background-color: #FFFFFF !important;
}
.spinner-pulse-dot{
  background-color: #FFFFFF !important;

}
